@using HospitalManagement.Models.Data
@model Appointment


<h2 class="fw-bold my-5"> Detajet e takimit</h2>

<h5 class="text-primary"><b>@Model.SherbimEmri</b></h5>

<p>
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
		<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
		<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
	</svg>
	@Model.DataTakimit
</p>

<br />

<p><b>Pacienti:</b> @Model.PacientEmri @Model.PacientMbiemri</p>

<div class="d-flex gap-2">
	<p><b>Doktori:</b> @Model.DoktorEmri @Model.DoktorMbiemri</p>
	<p>
		<b>Infermieri: </b>
		@if (Model.InfermierEmri != null)
		{
			<text>@Model.InfermierEmri @Model.InfermierMbiemri</text>
		}
		else
		{
			<text>N/A</text>
		}
	</p>
</div>

<hr />

<p><b>Shqetesimi kryesor:</b> @(Model.ShqetesimiKryesor ?? "N/A")</p>
<p><b>Kohezgjatja shqetesimit:</b> @(Model.KohezgjatjaShqetesimit ?? "N/A")</p>
<p><b>Simptoma te lidhura:</b> @(Model.SimptomaTeLidhura ?? "N/A")</p>
<p><b>Konkluzioni:</b> @(Model.Konkluzioni ?? "N/A")</p>
