@using HospitalManagement.Models.Data
@using HospitalManagement.Models.ViewModels
@model IList<Treatment>

<h1 class="text-primary fw-bold">Sherbimet</h1>

<a asp-action="Upsert" class="btn btn-primary my-3">Shto sherbim te ri</a>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Kodi</th>
			<th>Emri</th>
			<th>Pershkrim</th>
			<th>Cmimi</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var treatment in Model)
		{
			<tr id="treatment-@treatment.Kodi">
				<td>@treatment.Kodi</td>
				<td class="fw-bold">@treatment.Emri</td>
				<td>@treatment.Pershkrimi</td>
				<td>@treatment.Cmimi.ToString("0.000") LEK</td>
				<td>
					<a asp-action="Upsert"
					   asp-route-code="@treatment.Kodi"
					   class="btn btn-outline-secondary">
						Perditeso
					</a>
					<button data-treatment-id="@treatment.Kodi" type="button" class="delete-btn btn btn-outline-danger">Fshi</button>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script>
		Array.from(document.getElementsByClassName("delete-btn")).forEach(btn =>
			btn.addEventListener("click", e => {
				const treatmentId = e.target.dataset.treatmentId;

				$.ajax({
					url: "@Url.Action("Delete", "Treatments")?code=" + treatmentId,
					type: "DELETE",
					success: () => document.getElementById(`treatment-${treatmentId}`).remove(),
					error: err => Toastify({ text: err }).showToast()
				});
			}));
	</script>
}