@using HospitalManagement.Models.Data.Enums
@using HospitalManagement.Models.ViewModels
@model PerformanceIndicatorsVM

@{
	string dateOnlyStringFormat = "yyyy-MM-dd";

	int baseYearInput = DateTime.UtcNow.Year;
	string baseBeginDateInput = DateOnly.FromDateTime(new DateTime(DateTime.UtcNow.Year, 1, 1)).ToString(dateOnlyStringFormat),
		baseEndDateInput = DateOnly.FromDateTime(DateTime.UtcNow).ToString(dateOnlyStringFormat);
}

@section Styles {
	<link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css" />
}

<h1 class="text-primary fw-bold">Performanca e spitalit</h1>

<h4 class="fw-bold fst-italic mt-4 mb-2">Performanca e pergjithshme</h4>
<table class="table">
	<tbody>
		<tr>
			<td><b>Raporti staf-kerkese</b></td>
			<td>@Model.StaffPatientRaport.ToString("0.000")</td>
		</tr>

		<tr>
			<td><b>Norma e pritjes per takim per pacientet</b></td>
			<td>@Model.PatientMeetingWaitingTimeNorm.ToString("0.000")</td>
		</tr>

		<tr>
			<td>
				<b>Perqindja e takimeve te anulluara</b>
				<form id="cancelledAppointmentsForm" class="my-2 d-flex flex-row gap-2 align-items-center">
					<div class="form-floating">
						<input name="beginningDate" type="date" value="@baseBeginDateInput" class="form-control" />
						<label for="beginningDate">Data fillimtare</label>
					</div>

					<div class="form-floating">
						<input name="endingDate" type="date" value="@baseEndDateInput" class="form-control px-4" />
						<label for="endingDate">Data perfundimtare</label>
					</div>

					<input type="submit" value="Rifresko" class="btn btn-secondary btn-sm" />
				</form>
			</td>
			<td id="cancelledAppointmentsRow"></td>
		</tr>

		<tr>
			<td>
				<b>Norma e regjistrimeve</b>
				<form id="registrationTotalsForm" class="my-2 d-flex flex-column gap-2 justify-content-evenly align-items-start">
					<div class="d-flex gap-2">
						<div class="form-floating">
							<input name="beginningYear" type="number" value="@baseYearInput" class="form-control" />
							<label for="beginningYear">Viti fillimtar</label>
						</div>

						<div class="form-floating">
							<input name="endingYear" type="number" value="@baseYearInput" class="form-control" />
							<label for="endingYear">Viti perfundimtare</label>
						</div>
					</div>

					<input type="submit" value="Rifresko" class="btn btn-secondary btn-sm" />
				</form>
			</td>
			<td>
				<canvas id="registrationTotalsChart"></canvas>
			</td>
		</tr>
	</tbody>
</table>

<h4 class="fw-bold fst-italic mt-4 mb-2">Financa</h4>
<table class="table">
	<tbody>
		<tr>
			<td>
				<b>Shpenzimet vjetore</b>
				<form id="yearlyCostsForm" class="my-2 d-flex flex-row gap-2 align-items-center">
					<div class="form-floating">
						<input name="year" type="number" value="@baseYearInput" class="form-control" />
						<label for="year">Viti</label>
					</div>

					<input type="submit" value="Rifresko" class="btn btn-secondary btn-sm" />
				</form>
			</td>
			<td><span id="yearlyCosts"></span> LEK</td>
		</tr>

		<tr>
			<td>
				<b>Raporti i fitimeve</b>
				<form id="earningsReportForm" class="my-2 d-flex flex-column gap-2 justify-content-evenly align-items-start">
					<div class="d-flex gap-2">
						<div class="form-floating">
							<input name="beginningYear" type="number" value="@baseYearInput" class="form-control" />
							<label for="beginningYear">Viti fillimtar</label>
						</div>

						<div class="form-floating">
							<input name="endingYear" type="number" value="@baseYearInput" class="form-control" />
							<label for="endingYear">Viti perfundimtare</label>
						</div>
					</div>

					<input type="submit" value="Rifresko" class="btn btn-secondary btn-sm" />
				</form>
			</td>
			<td>
				<canvas id="earningsReportChart"></canvas>
			</td>
		</tr>

		<tr>
			<td>
				<b>"Operating margin" vjetor</b>
				<form id="yearlyOperatingMarginForm" class="my-2 d-flex flex-row gap-2 align-items-center">
					<div class="form-floating">
						<input name="year" type="number" value="@baseYearInput" class="form-control" />
						<label for="year">Viti</label>
					</div>

					<input type="submit" value="Rifresko" class="btn btn-secondary btn-sm" />
				</form>
			</td>
			<td id="yearlyOperatingMarginRow"></td>
		</tr>

		<tr>
			<td>
				<b>Tarifa mesatare e trajtimit (vjetore & mujore)</b>
				<form id="averageTreatmentChargeForm" class="my-2 d-flex flex-column gap-2 justify-content-evenly align-items-start">
					<div class="d-flex gap-2">
						<div class="form-floating">
							<input name="beginningYear" type="number" value="@baseYearInput" class="form-control" />
							<label for="beginningYear">Viti fillimtar</label>
						</div>

						<div class="form-floating">
							<input name="endingYear" type="number" value="@baseYearInput" class="form-control" />
							<label for="endingYear">Viti perfundimtare</label>
						</div>
					</div>

					<input type="submit" value="Rifresko" class="btn btn-secondary btn-sm" />
				</form>
			</td>
			<td>
				<p><b>Vjetore: </b> <span id="yearlyAverageTreatmentChargeResult"></span> LEK</p>

				<br />

				<b>Mujore:</b>
				<canvas id="monthlyAverageTreatmentChargeChart"></canvas>
			</td>
		</tr>
	</tbody>
</table>

<h4 class="fw-bold fst-italic mt-4 mb-2">Stafi</h4>
<table class="table">
	<tbody>
		<tr>
			<td>
				<b>Stafi me i perdorur</b>
				<form id="mostUsedStaffForm" class="my-2 d-flex flex-column gap-2 justify-content-evenly align-items-start">
					<div class="d-flex gap-2">
						<div class="form-floating">
							<select name="roleId" class="form-select">
								@foreach (RolStafi role in ViewBag.StaffRoles)
								{
									<option value="@role.Id">@role.Emertimi</option>
								}
							</select>
							<label for="roleId">Roli</label>
						</div>

						<div class="form-floating">
							<input name="year" type="number" value="@baseYearInput" class="form-control" />
							<label for="year">Viti</label>
						</div>
					</div>

					<input type="submit" value="Rifresko" class="btn btn-secondary btn-sm" />
				</form>
			</td>
			<td>
				<table id="mostUsedStaff" class="table">
					<thead>
						<tr>
							<th>Emri</th>
							<th>Nr. i takimeve</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<b>Sherbimet me te perdorura</b>
				<form id="mostPopularTreatmentsForm" class="my-2 d-flex flex-column gap-2 justify-content-evenly align-items-start">
					<div class="form-floating">
						<input name="year" type="number" value="@baseYearInput" class="form-control" />
						<label for="year">Viti</label>
					</div>

					<div class="form-check">
						<input name="monthlyDistribution" type="checkbox" checked class="form-check-input" />
						<label for="monthlyDistribution" class="form-check-label">Distributim mujor</label>
					</div>

					<input type="submit" value="Rifresko" class="btn btn-secondary btn-sm" />
				</form>
			</td>
			<td>
				<table id="mostPopularTreatments" class="table">
					<thead>
						<tr>
							<th>Sherbimi</th>
							<th>Nr. i takimeve</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

@section Scripts {
	<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js "></script>
	<script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>

	<script>
		const monthsLabels = ["Janar", "Shkurt", "Mars", "Prill", "Maj", "Qershor", "Korrik", "Gusht", "Shtator", "Tetor", "Nentor", "Dhjetor"];

		const yearlyCostsRow = document.getElementById("yearlyCosts"),
			yearlyOperatingMarginRow = document.getElementById("yearlyOperatingMarginRow"),
			yearlyAverageTreatmentChargeResult = document.getElementById("yearlyAverageTreatmentChargeResult"),
			cancelledAppointmentsRow = document.getElementById("cancelledAppointmentsRow");

		const registrationTotalsForm = document.getElementById("registrationTotalsForm"),
			yearlyCostsForm = document.getElementById("yearlyCostsForm"),
			earningsReportForm = document.getElementById("earningsReportForm"),
			yearlyOperatingMarginForm = document.getElementById("yearlyOperatingMarginForm"),
			averageTreatmentChargeForm = document.getElementById("averageTreatmentChargeForm"),
			mostUsedStaffForm = document.getElementById("mostUsedStaffForm"),
			mostPopularTreatmentsForm = document.getElementById("mostPopularTreatmentsForm"),
			cancelledAppointmentsForm = document.getElementById("cancelledAppointmentsForm");

		// cancelled appointments
		cancelledAppointmentsForm.addEventListener("submit", e => {
			e.preventDefault();
			$.ajax({
				url: "@Url.Action("CancelledAppointmentsPercentage", "Performance")",
				type: "POST",
				data: {
					beginningDate: cancelledAppointmentsForm.elements["beginningDate"].value,
					endingDate: cancelledAppointmentsForm.elements["endingDate"].value
				},
				success: res => cancelledAppointmentsRow.textContent = res
			});
		});

		// registration totals
		const registrationTotalsChart = new Chart(
			document.getElementById("registrationTotalsChart"),
			{
				type: "line",
				data: { labels: monthsLabels, datasets: [] },
				options: {
					parsing: { xAxisKey: "muaji", yAxisKey: "nrPacienteve"},
					scales: { y: { title: { display: true, text: "Nr. i pacienteve" }} }
				}
			}
		);

		registrationTotalsForm.addEventListener("submit", e => {
			e.preventDefault();

			$.ajax({
				url: "@Url.Action("RegistrationTotals", "Performance")",
				type: "POST",
				data: {
					beginningYear: registrationTotalsForm.elements["beginningYear"].value,
					endingYear: registrationTotalsForm.elements["endingYear"].value,
					monthlyDistribution: true,
				},
				success: data => {
					registrationTotalsChart.data.datasets.length = 0;
					datasets = Object.groupBy(data, ({ viti }) => viti);

					Object.entries(datasets).forEach(([year, dataset]) =>
						registrationTotalsChart.data.datasets.push({ label: year, data: dataset }));

					registrationTotalsChart.update();
				}
			});
		});

		// yearly costs
		yearlyCostsForm.addEventListener("submit", e => {
			e.preventDefault();
			$.ajax({
				url: "@Url.Action("YearlyCosts", "Performance")",
				type: "POST",
				data: { year: yearlyCostsForm.elements["year"].value },
				success: res => yearlyCostsRow.textContent = res
			});
		});

		// earnings report
		const earningsReportChart = new Chart(
			document.getElementById("earningsReportChart"),
			{
				type: "line",
				data: { labels: monthsLabels, datasets: [] },
				options: {
					parsing: { xAxisKey: "muaji", yAxisKey: "fitimeFature"},
					scales: { y: { title: { display: true, text: "Fitimet nga faturat" }} }
				}
			}
		);

		earningsReportForm.addEventListener("submit", e => {
			e.preventDefault();

			$.ajax({
				url: "@Url.Action("EarningsReport", "Performance")",
				type: "POST",
				data: {
					beginningYear: earningsReportForm.elements["beginningYear"].value,
					endingYear: earningsReportForm.elements["endingYear"].value,
					monthlyDistribution: true,
				},
				success: data => {
					earningsReportChart.data.datasets.length = 0;
					datasets = Object.groupBy(data, ({ viti }) => viti);

					Object.entries(datasets).forEach(([year, dataset]) =>
						earningsReportChart.data.datasets.push({ label: year, data: dataset }));

					earningsReportChart.update();
				}
			});
		});

		// yearly operating margin
		yearlyOperatingMarginForm.addEventListener("submit", e => {
			e.preventDefault();
			$.ajax({
				url: "@Url.Action("YearlyOperatingMargin", "Performance")",
				type: "POST",
				data: { year: yearlyOperatingMarginForm.elements["year"].value },
				success: res => yearlyOperatingMarginRow.textContent = res
			});
		});

		// average treatment charge
		const monthlyAverageTreatmentChargeChart = new Chart(
			document.getElementById("monthlyAverageTreatmentChargeChart"),
			{
				type: "line",
				data: { labels: monthsLabels, datasets: [] },
				options: {
					parsing: { xAxisKey: "muaji", yAxisKey: "tarifaMesatareTrajtimit"},
					scales: { y: { title: { display: true, text: "Tarifa mesatare e trajtimit" }} }
				}
			}
		);

		averageTreatmentChargeForm.addEventListener("submit", e => {
			e.preventDefault();

			// yearly
			$.ajax({
				url: "@Url.Action("YearlyAverageTreatmentCharge", "Performance")",
				type: "POST",
				data: {
					beginningYear: averageTreatmentChargeForm.elements["beginningYear"].value,
					endingYear: averageTreatmentChargeForm.elements["endingYear"].value
				},
				success: res => yearlyAverageTreatmentChargeResult.textContent = res
			});

			//monthly
			$.ajax({
				url: "@Url.Action("MonthlyAverageTreatmentCharge", "Performance")",
				type: "POST",
				data: {
					beginningYear: averageTreatmentChargeForm.elements["beginningYear"].value,
					endingYear: averageTreatmentChargeForm.elements["endingYear"].value
				},
				success: data => {
					monthlyAverageTreatmentChargeChart.data.datasets.length = 0;
					datasets = Object.groupBy(data, ({ viti }) => viti);

					Object.entries(datasets).forEach(([year, dataset]) =>
						monthlyAverageTreatmentChargeChart.data.datasets.push({ label: year, data: dataset }));

					monthlyAverageTreatmentChargeChart.update();
				}
			});
		});

		// most used staff
		let mostUsedStaffTbl = new DataTable("#mostUsedStaff", {
			searching: false,
			ajax: {
				url: "@Url.Action("MostUsedStaffMembers", "Performance")",
				type: "POST",
				data: d => {
					d.roleId = mostUsedStaffForm.elements["roleId"].value;
					d.year = mostUsedStaffForm.elements["year"].value;
					d.monthlyDistribution = false;
				},
				dataSrc: ""
			},
			columns: [
				{ data: null, render: (data, type, row) => `${row.emri} ${row.mbiemri}` },
				{ data: "nrTakimeve" }
			]
		});

		mostUsedStaffForm.addEventListener("submit", e => {
			e.preventDefault();
			mostUsedStaffTbl.ajax.reload();
		});

		// most popular treatments
		let mostPopularTreatmentsTbl = new DataTable("#mostPopularTreatments", {
			searching: false,
			ajax: {
				url: "@Url.Action("MostPopularTreatments", "Performance")",
				data: function(d) {
					d.year = mostPopularTreatmentsForm.elements["year"].value;
					d.monthlyDistribution = mostPopularTreatmentsForm.elements["monthlyDistribution"].value;
				},
				dataSrc: "",
				type: "POST",
			},
			columns: [
				{ data: "emri" },
				{ data: "nrTakimeve" },
			],
			rowGroup: { dataSrc: "muaji" }
		});

		mostPopularTreatmentsForm.addEventListener("submit", e => {
			e.preventDefault();
			mostPopularTreatmentsTbl.ajax.reload();
		});

		window.onload = () => {
			cancelledAppointmentsForm.requestSubmit();
			registrationTotalsForm.requestSubmit();
			yearlyCostsForm.requestSubmit();
			earningsReportForm.requestSubmit();
			yearlyOperatingMarginForm.requestSubmit();
			averageTreatmentChargeForm.requestSubmit();
		}
	</script>
}